spring:
  flyway:
    url: ${JDBC_URL}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    hikari:
      connectionInitSql: "BEGIN nomis_context.set_context('AUDIT_MODULE_NAME', 'DPS_SYNCHRONISATION'); END;"
