spring:
  jpa:
    database-platform: org.hibernate.community.dialect.OracleLegacyDialect
  datasource:
    url: ${JDBC_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    hikari:
      connectionInitSql: "BEGIN nomis_context.set_context('AUDIT_MODULE_NAME', 'DPS_SYNCHRONISATION'); END;"
