# Per environment values which override defaults in hmpps-nomis-prisoner-api/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: nomis-prisoner-api-dev.prison.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_HMPPS_AUTH: https://sign-in-dev.hmpps.service.justice.gov.uk/auth
    SPRINGDOC_API-DOCS_ENABLED: "true"
    SPRINGDOC_SWAGGER-UI_ENABLED: "true"

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
